@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
}

.main{
  
}
input {
  -webkit-appearance: none;
  appearance: none;
}
.background{
  background: #FEFEFE;
}
.navbar{
  position: fixed;
  z-index: 999;
  background: #FEFEFE;
}
.whatbytes-image{

}
.profile-image{
  border-radius: 100%;
  height: 27px;
}
.sidebar-container{
  position: fixed;
  left: 0;
  z-index: 99;
  background: white;
}
.sidebar{
  margin-top: 8rem;
}
.update{
  background: #132277;
}
.cancel{
  color: #132277;
  border: 1px solid #132277;
}
.quick-stats{
  color: #A2A5AA;
}
.blue{
  background: #3277F3;
}
.blue1{
  background: #EAF2FE;
}
.orange{
  background: #FF8038;
}
.orange1{
  background: #FEF1EB;
}
.red{
  background: #FA4F4F;
}
.red1{
  background: #FFEBEC;
}
.green{
  background: #28C064;
}
.green1{
  background: #E6F9EF;
}
.update-scores{
  position: fixed;
  z-index: 9999;
}